@font-face {
font-family: 'Montserrat-Light';
font-style: normal;
font-weight: 300;
src: url("https://igorkowalczyk.github.io/blog/fonts/Montserrat-Light.ttf");
}

@font-face {
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
src: url("https://igorkowalczyk.github.io/blog/fonts/Montserrat-Medium.ttf");
}

* {
margin: 0;
padding: 0;
font-family: 'Montserrat-Light';
color: #212121;
box-sizing: border-box;
text-decoration: none;
}

body {
font-size: 1em;
position: relative;
padding-bottom: 100px;
}

code, code span {
line-height: 1.5em;
font-size: 0.9em;
}

blockquote {
background: #fff;
border-left: solid #000 5px;
margin-left: 1em;
padding: 1em;
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 0.8em;
font-style: italic;
}

blockquote p {
padding: 0;
}

.highlighter-rouge {
background-color: #fff;
overflow-x: scroll;
box-sizing: border-box;
padding: 0.2em;
margin: 1em 0;
}

.main-header .logo {
width: 50px;
}

.main-header a {
color: #000 !important;
text-decoration: none;
}

.main-header a:hover{
text-decoration: none;
color: #00a3a3 !important;
}

main a, footer a {
color: #000 !important;
}

main a, footer a {
color: #00a3a3 !important;
}

main {
font-size:1.2em;
}

.post-header {
padding-bottom: 1em;
}

footer {
border-top: #000 solid 1px;
position: absolute;
bottom: 0;
left: 0;
right: 0;
}

p, h2, h3, h4, h5, h6 {
padding-bottom: 0.8em;
}

.page-title, .post-title {
font-size: 1.5em;
line-height: 1.3em;
}

.post-meta {
border-bottom: #000 solid 1px;
margin-bottom: 1em;
}

.post-list-item h3 a, .post-content h3 {
font-size: 1.3em;
color: #000;
font-weight: 600;
}

.post-content p {
line-height: 1.6em;
}

.post-list-item {
padding-bottom: 1em;
margin-bottom: 1em;
}

.post-list-item-desc {
padding: 0.5em 0;
}

.post img {
margin: 0 auto;
width: 80%;
display: flex;
}

.post ul li {
list-style: none;
padding-bottom: 1em;
line-height: 1.6em;
}

.post ol li {
list-style: none;
padding-bottom: 1em;
line-height: 1.6em;
}

.home a:hover, .post a:hover {
text-decoration: none;
}

@media  (min-width: 427px) {
.main-nav{
display: flex;
justify-content: space-between;
}

a {
position: relative;
color: #000  !important;
}

header h1, h3 a, main a {
color: #000 !important;
transition: 300ms;
}

header h1:hover, h3 a:hover, main a:hover, main a:hover svg {
color: #00a3a3 !important;
fill: #00a3a3;
transition: 300ms;
}

a:before {
content: "";
position: absolute;
width: 100%;
height: 2px;
bottom: 0;
left: 0;
background-color: #00a3a3;
visibility: hidden;
-webkit-transform: scaleX(0);
transform: scaleX(0);
-webkit-transition: all 0.3s ease-in-out 0s;
transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
visibility: visible;
-webkit-transform: scaleX(1);
transform: scaleX(1);
}

.menu-icon {
display: none;
}

.social-icon {
width: 32px;
}

.main-header, .main-header h1 {
display: flex;
justify-content: space-between;
align-items: center;
font-weight: 300;
box-sizing: border-box;
}

.main-nav ul {
display: flex;
align-items: center;
}

.main-nav ul li {
list-style: none;
padding: 10px;
box-sizing: border-box;
}

.main-header, .post-list-item {
border-bottom: #000 solid 1px;
}

main, footer {
padding: 10px;
}

.post-list {
list-style: none;
}
}

@media (min-width:765px) {
.main-header, main, footer {
padding: 10px 5%;
}

h1{
font-size: 1.2em
}

.main-nav {
font-size: 1em;
}

.social-icon, .logo img{
width: 32px;
}

.post, .home {
padding:3% 10%;
}

footer {
display: flex;
justify-content: space-around;
}
}

@media (min-width:1080px) {
h1 {
font-size: 2em;
}

.main-header, main, footer{
padding: 10px 20%;
}

.post, .home{
padding:3% 15%;
}
}

@media (max-width: 426px){
.main-header {
margin: 0;
display: block;
box-sizing: border-box;
justify-content: space-around;
position: relative;
clear: both;
height: auto;
}

.main-header h1 {
display: flex;
float: left;
}

.social-icon {
width: 40px;
}

.menu-icon {
display: block;
position: absolute;
top: 10px;
right: 20px;
}

.main-nav {
display: block;
flex: none;
}

.main-nav ul li, .main-nav ul {
clear: both;
display: block;
width: 100%;
}

.main-nav ul li {
padding: 10px;
border-bottom: #000 solid 1px;
}

main, footer {
clear: both;
padding: 5px;
display: flex;
flex-direction: column;
margin: auto;
}

.post {
padding: 2%;
}
}

.hidden {
display: none;
}

.cat {
display: flex;
}

.pagination {
display: flex;
justify-content: space-between;
}
