@font-face {
font-family: 'Montserrat-Light';
font-style: normal;
font-weight: 300;
src: url("https://igorkowalczyk.github.io/blog/fonts/Montserrat-Light.ttf");
}

@font-face {
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
src: url("https://igorkowalczyk.github.io/blog/fonts/Montserrat-Medium.ttf");
}

.preloader {
height: 100%;
width: 100%;
background: #fff;
position: fixed;
left: 0;
top: 0;
z-index: 99999;
perspective: 1600px;
perspective-origin: 20% 50%;
transition: 0.5s all;
opacity: 1;
}

.spinner {
width: 80px;
height: 80px;
border: 2px solid #f3f3f3;
border-top: 3px solid #00a3a3;
border-radius: 100%;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
animation: spin 1s infinite linear;
}

.preloader.fade {
opacity: 0;
}

@keyframes spin {
from {
transform: rotate(0deg);
}
to {
transform: rotate(360deg);
}
}

@keyframes ico {
from {
transform: rotateY(0deg);
}
to {
transform: rotateY(360deg);
}
}

* {
margin: 0;
padding: 0;
font-family: 'Montserrat-Light';
color: #212121;
box-sizing: border-box;
text-decoration: none;
scrollbar-color: #00a3a3 transparent;
scrollbar-width: thin;
}

::-webkit-scrollbar {
width: 12px;
background-color: transparent;
}

::-webkit-scrollbar-thumb {
border-radius: 10em;
background-color: #00a3a3;
height: 6px;
border: 4px solid transparent;
background-clip: padding-box;
}

::-moz-selection {
background: #333;
color: #fff;
text-shadow: none;
}

::-webkit-selection{
background: #333;
color: #fff;
text-shadow: none;
}

::selection{
background: #333;
color: #fff;
text-shadow: none;
}

body {
font-size: 1em;
position: relative;
padding-bottom: 100px;
animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
0% {
opacity:0;
}
100% {
opacity:1;
}
}

code, code span {
line-height: 1.5em;
font-size: 0.9em;
}

blockquote {
background: #fff;
border-left: solid #000 5px;
margin-left: 1em;
padding: 1em;
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 0.8em;
font-style: italic;
}

blockquote p {
padding: 0;
}

.highlighter-rouge {
background-color: #fff;
overflow-x: scroll;
box-sizing: border-box;
padding: 0.2em;
margin: 1em 0;
}

main a, footer a {
color: #000 !important;
}

main a, footer a {
color: #00a3a3 !important;
}

main {
font-size:1.2em;
margin-top: 100px;
}

.post-header {
padding-bottom: 1em;
}

footer {
border-top: #000 solid 1px;
position: absolute;
right: 0;
bottom: 0;
left: 0;
padding: 10px;
}

p, h2, h3, h4, h5, h6 {
padding-bottom: 0.8em;
}

.page-title, .post-title {
font-size: 1.5em;
line-height: 1.3em;
}

.post-meta {
border-bottom: #000 solid 1px;
margin-bottom: 1em;
}

.post-list-item h3 a, .post-content h3 {
font-size: 1.3em;
color: #000;
font-weight: 600;
}

.post-content p {
line-height: 1.6em;
}

.post-list-item {
padding-bottom: 1em;
margin-bottom: 1em;
}

.post-list-item-desc {
padding: 0.5em 0;
}

.post img {
margin: 0 auto;
width: 80%;
display: flex;
}

.post ul li {
list-style: none;
padding-bottom: 1em;
line-height: 1.6em;
}

.post ol li {
list-style: none;
padding-bottom: 1em;
line-height: 1.6em;
}

.home a:hover, .post a:hover {
text-decoration: none;
}

@media (min-width: 427px) {
a {
position: relative;
color: #000  !important;
}

header h1, h3 a, main a {
color: #000 !important;
transition: 300ms;
}

header h1:hover, h3 a:hover, main a:hover, main a:hover svg {
color: #00a3a3 !important;
fill: #00a3a3;
transition: 300ms;
}

a:before {
content: "";
position: absolute;
width: 100%;
height: 2px;
bottom: 0;
left: 0;
background-color: #00a3a3;
visibility: hidden;
-webkit-transform: scaleX(0);
transform: scaleX(0);
-webkit-transition: all 0.3s ease-in-out 0s;
transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
visibility: visible;
-webkit-transform: scaleX(1);
transform: scaleX(1);
}

.social-icon {
width: 32px;
}

main, footer {
padding: 10px;
}

.post-list {
list-style: none;
}
}

@media (min-width:765px) {
main, footer {
padding: 10px 5%;
}

h1{
font-size: 1.2em
}

.social-icon, .logo img{
width: 32px;
}

.post, .home {
padding:3% 10%;
}

footer {
display: flex;
justify-content: space-around;
}
}

@media (min-width:1080px) {
h1 {
font-size: 2em;
}

main, footer{
padding: 10px 20%;
}

.post, .home{
padding:3% 15%;
}
}

@media (max-width: 426px){
.social-icon {
width: 40px;
}

main, footer {
clear: both;
padding: 5px;
display: flex;
flex-direction: column;
margin-top: 100px !important;
margin: auto;
}

.post {
padding: 2%;
}
}

.hidden {
display: none;
}

.cat {
display: flex;
}

.pagination {
display: flex;
justify-content: space-between;
}

.nav {
background-color: #fff;
position: fixed;
width: 100%;
top: 0;
transition: 500ms all;
z-index: 9999;
}

.nav:not(.nav-scroled):hover {
box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.nav.nav-scrolled {
box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.nav ul {
margin: 0;
padding: 0;
list-style: none;
overflow: hidden;
background-color: #fff;
}

.nav li a {
display: block;
font-size: 20px;
padding: 20px 20px;
text-decoration: none;
transition: 500ms all;
}

.nav li a:hover, .nav .menu-btn:hover {
background-color: #f4f4f4;
}

.nav .logo {
display: block;
float: left;
line-height: 40px;
font-size: 20px;
padding: 10px 20px;
text-decoration: none;
}

.nav .menu {
clear: both;
max-height: 0;
transition: max-height .2s ease-in-out;
}

.nav .menu-icon {
cursor: pointer;
display: inline-block;
float: right;
padding: 28px 20px;
position: relative;
user-select: none;
}

.nav .menu-icon .navicon {
background: #333;
display: block;
height: 2px;
position: relative;
transition: background .2s ease-out;
width: 18px;
}

.nav .menu-icon .navicon:before,
.nav .menu-icon .navicon:after {
background: #333;
content: '';
display: block;
height: 100%;
position: absolute;
transition: all .2s ease-out;
width: 100%;
}

.nav .menu-icon .navicon:before {
top: 5px;
}

.nav .menu-icon .navicon:after {
top: -5px;
}

.nav .menu-btn {
display: none;
}

.nav .menu-btn:checked ~ .menu {
max-height: 240px;
}

.nav .menu-btn:checked {
box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
}

.nav .menu-btn:checked ~ .menu-icon .navicon {
background: transparent;
}

.nav .menu-btn:checked ~ .menu-icon .navicon:before {
transform: rotate(-45deg);
}

.nav .menu-btn:checked ~ .menu-icon .navicon:after {
transform: rotate(45deg);
}

.nav .menu-btn:checked ~ .menu-icon .navicon:before, .nav .menu-btn:checked ~ .menu-icon .navicon:after {
top: 0;
}

@media (min-width: 590px) {
.nav li {
float: left;
}

.nav li a {
padding: 20px 30px;
}

.nav .menu {
clear: none;
float: right;
max-height: none;
}

.nav .menu-icon {
display: none;
}
}

[hidden] {
display: none;
}

ul, li {
list-style: none;
}

.menu-icon svg {
stroke: #ccc;
}