<div class="comment">
<div class="meta">
<p class="name">
{% if comment.email %}
<img src="https://www.gravatar.com/avatar/{{ comment.email }}?d=mm&s=60" alt="{{ comment.name | escape }}">
{% else %}
<img src="/blog/lib/img/avatar.jpg" alt="{{ comment.name | escape }}">
{% endif %} Od: {{ comment.name }} <span class="bullet" aria-hidden="true">&bull;</span> <span title="{{ comment.date | date: "%Y-%m-%d %H:%M" }}">{{ comment.date | date: "%d-%m-%Y" }}</span></p>
</div>
<p class="message">{{ comment.message }}</p>
</div>