<div class="comment">
<div class="meta">
<p class="name">
<img src="https://www.gravatar.com/avatar/{{ include.email }}?d=mm&s=60" alt="{{ include.name }}">
Od: {{ include.name }}</p>
</div>
<p>
{% if include.date %}
{% if include.index %}<a href="#comment{{ include.index }}">{% endif %}
<time datetime="{{ include.date | date_to_xmlschema }}">{{ include.date | date: "%B %d, %Y at %I:%M %p" }}</time>
{% if include.index %}</a>{% endif %}
{% endif %}
</p>
<div class="comment-body">
<p class="message">{{ include.message | markdownify }}</p>
</div>
</div>