{% unless page.comments == false %}
<form method="post" action="{{ site.comments-post }}">
<h3 class="new-comment">Napisz komentarz:</h3>
<input name="fields[slug]" type="hidden" value="{{ page.slug }}">
<input name="options[slug]" type="hidden" value="{{ page.slug }}">
{{ site.data.comments[page.slug] }}
<fieldset>
<label for="name">Imię (Wyświetlane, wymagane)
<input name="fields[name]" type="text" id="name" placeholder="Your name"/>
</label>
</fieldset>
<fieldset>
<label for="email">E-mail (Ukryty, wymagany)
<input name="fields[email]" id="email" type="email" required placeholder="jan@kowalski.com" title="To pole jest wymagane" maxlenght="50" spellcheck="false">
</label>
</fieldset>
<fieldset>
<label for="hp">
<input name="fields[hp]" id="hp" type="hidden" placeholder="Zostaw puste, jeżeli to pole zostanie wypełnione komentarz nie zoztanie zaakceptowany">
</label>
</fieldset>
<fieldset>
<label for="message">Wiadomość (Wyświetlana, wymagana)
<textarea name="fields[message]" type="text" id="message" required placeholder="Twoja wiadomość" title="To pole jest wymagane" maxlenght="200" autocomplete="off"></textarea>
</label>    
</fieldset>
<!-- Honeypot -->
<fieldset class="hp">
<label for="hp">Zabezpieczenie (Nie wypełniaj!)
<input name="fields[hp]" type="text" id="hp" placeholder="Nie wypełniaj tego! To jest zabezpieczenie przeciwko botom">
</label>    
</fieldset>
<!-- /Honeypot -->
<p>Markdown jest obsługiwany.</p>
<p>Komentarze pojawią się po zaakceptowaniu przez moderatora.</p>
<button class="submit">Wyślij komentarz</button>
</form>
{% else %}
<div class="notice">
<h4>Dodawanie komentarzy zostało zablokowane.</h4>
</div>
{% endunless %}