{% unless page.comments == false %}
<form method="post" action="{{ site.comments-post }}" class="commentform" data-action="{{ site.comments-post }}">
<h3 class="new-comment">Napisz komentarz:</h3>
<input name="fields[slug]" type="hidden" value="{{ page.slug }}" class="commentform-input commentform-input-slug">
<input name="options[slug]" type="hidden" value="{{ page.slug }}" class="commentform-input commentform-input-optionsslug">
<fieldset>
<label for="name">Imię (Wyświetlane, wymagane)
<input name="fields[name]" type="text" id="name" placeholder="Jan Kowalski" class="commentform-input commentform-input-name">
</label>
</fieldset>
<fieldset>
<label for="email">E-mail (Ukryty, wymagany)
<input name="fields[email]" id="email" type="email" placeholder="jan@kowalski.com" title="To pole jest wymagane" maxlenght="50" spellcheck="false" class="commentform-input commentform-input-email">
</label>
</fieldset>
<fieldset>
<label for="message">Wiadomość (Wyświetlana, wymagana)
<textarea name="fields[message]" type="text" id="message" placeholder="Twoja wiadomość" title="To pole jest wymagane" maxlenght="200" autocomplete="off"  class="commentform-input commentform-input-message"></textarea>
</label>
</fieldset>
<!-- Honeypot -->
<fieldset class="hp">
<label for="hp">Zabezpieczenie (Nie wypełniaj!)
<input name="fields[hp]" type="text" id="hp" placeholder="Nie wypełniaj tego! To jest zabezpieczenie przeciwko botom">
</label>
</fieldset>
<!-- /Honeypot -->
<p>Markdown jest obsługiwany.</p>
<p>Komentarze pojawią się po zaakceptowaniu przez moderatora.</p>
<button class="submit">Wyślij komentarz</button>
</form>
{% else %}
<div class="notice">
<h4>Dodawanie komentarzy zostało zablokowane.</h4>
</div>
{% endunless %}
<div class="commentform-sendfailed">
Wiadomość nie mogła zostać wysłana, proszę spróbować później.
</div>
<div class="commentform-sendsucceeded">
Dziękuje, twój komentarz został poprawnie wysłany!
</div>
<div class="commentform-errormessages"></div>
<script>
const commentForm = document.querySelector('.commentform');
const commentFormInputs = document.querySelectorAll('.commentform-input');
const slugInput = document.querySelector('.commentform-input-slug');
const optionsSlugInput = document.querySelector('.commentform-input-optionsslug');
const nameInput = document.querySelector('.commentform-input-name');
const emailInput = document.querySelector('.commentform-input-email');
const messageInput = document.querySelector('.commentform-input-message');
const errorMessagesDiv = document.querySelector('.commentform-errormessages');
const sendFailedDiv = document.querySelector('.commentform-sendfailed');
const sendSucceededDiv = document.querySelector('.commentform-sendsucceeded');
const url = 'https://api-igorkowalczyk.herokuapp.com/v2/entry/igorkowalczyk/blog/master';
function post(url, data, callback, errorCallback) {
const xhr = new XMLHttpRequest();
xhr.open('POST', url);
xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
xhr.onload = function() {
if (xhr.status === 200) {
callback(xhr.responseText);
} else if (xhr.status !== 200) {
errorCallback(xhr.responseText);
}
};
xhr.send;
}
if (commentForm) {
commentForm.addEventListener('submit', (e) => {
e.preventDefault();
errorMessagesDiv.innerHTML = '';
sendFailedDiv.style.display = 'none';
sendSucceededDiv.style.display = 'none';
const slug = slugInput.value.trim();
const optionsSlug = optionsSlugInput.value.trim();
const name = nameInput.value.trim();
const email = emailInput.value.trim();
const message = messageInput.value.trim();
let error = false;
let fatalError = false;
const messages = [];
if (name.length < 2) {
error = true;
messages.push('<div class="commentform-errormessage">Proszę wpisać imię.</div>');
}
if (email.search(/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/) === -1) {
error = true;
messages.push('<div class="commentform-errormessage">Proszę wpisać poprawny e-mail.</div>');
}
if (message.length < 2) {
error = true;
messages.push('<div class="commentform-errormessage">Proszę wpisać wiadomość.</div>');
}
if (fatalError) {
return false;
}
if (error) {
errorMessagesDiv.innerHTML = messages.join('');
return false;
}
const params = [];
for (let i = 0; i < commentFormInputs.length; i++) {
const input = commentFormInputs[i];
params.push(`${ input.name }=${ input.value }`);
}
post(
console.log("Hello world!"),
e.target.getAttribute('data-action'),
params.join('&'),
function(text){
commentForm.reset();
sendSucceededDiv.style.display = 'block';
},
function(text){
sendFailedDiv.style.display = 'block';
}
);
});
}
</script>