{% unless page.comments == false %}
<form method="post" action="{{ site.comments-post }}" data-action="{{ site.comments-post }}" class="commentform">
<h3 class="new-comment">Napisz komentarz:</h3>
<input name="fields[slug]" type="hidden" value="{{ post_slug }}" class="commentform-input commentform-input-slug">
<input name="options[slug]" type="hidden" value="{{ post_slug }}" class="commentform-input commentform-input-optionsslug">
<fieldset>
<label for="name">Imię (Wyświetlane, wymagane)
<input name="fields[name]" type="text" id="name" placeholder="Jan Kowalski" title="To pole jest wymagane" maxlenght="50" class="commentform-input commentform-input-name">
</label>
</fieldset>
<fieldset>
<label for="email">E-mail (Ukryty, wymagany)
<input name="fields[email]" id="email" type="email" placeholder="jan@kowalski.com" title="To pole jest wymagane" maxlenght="50" spellcheck="false" class="commentform-input commentform-input-email">
</label>
</fieldset>
<fieldset>
<label for="message">Wiadomość (Wyświetlana, wymagana)
<textarea name="fields[message]" type="text" id="message" placeholder="Twoja wiadomość" title="To pole jest wymagane" maxlenght="150" autocomplete="off" spellcheck="true" class="commentform-input commentform-input-message"></textarea>
</label>
</fieldset>
<!-- Honeypot -->
<fieldset class="hp">
<label for="hp">Zabezpieczenie (Nie wypełniaj!)
<input name="fields[hp]" type="text" id="hp" placeholder="Nie wypełniaj tego! To jest zabezpieczenie przeciwko botom">
</label>
</fieldset>
{% if site.reCaptcha %}
<input type="hidden" name="options[reCaptcha][siteKey]" value="{{ site.reCaptcha.siteKey }}">
<input type="hidden" name="options[reCaptcha][secret]" value="{{ site.reCaptcha.secret }}">
<fieldset class="security">
<div id="captcha"></div>
</fieldset>
{% endif %}
<!-- /Honeypot -->
<p>Markdown jest obsługiwany.</p>
<p>Komentarze pojawią się po zaakceptowaniu przez moderatora.</p>
<button class="submit submit-spinner">Wyślij komentarz</button>
</form>
{% if site.reCaptcha %}
<script type="text/javascript">
var load = function() {
alert("Captcha is ready!");
};
</script>
<script src="https://www.google.com/recaptcha/api.js?onload=load&render=explicit" async defer>
{% endif %}
{% else %}
<div class="notice">
<h4>Dodawanie komentarzy zostało zablokowane.</h4>
</div>
{% endunless %}
<div class="commentform-sendfailed">
Wiadomość nie mogła zostać wysłana, proszę spróbować później.
</div>
<div class="commentform-sendsucceeded">
Dziękuje, twój komentarz został poprawnie wysłany!
</div>
<div class="commentform-errormessages"></div>
<script>
const commentform = document.querySelector('.commentform');
const commentforminputs = document.querySelectorAll('.commentform-input');
const sluginput = document.querySelector('.commentform-input-slug');
const optionssluginput = document.querySelector('.commentform-input-optionsslug');
const nameinput = document.querySelector('.commentform-input-name');
const emailinput = document.querySelector('.commentform-input-email');
const messageinput = document.querySelector('.commentform-input-message');
const errormessagesdiv = document.querySelector('.commentform-errormessages');
const sendfaileddiv = document.querySelector('.commentform-sendfailed');
const sendsucceededdiv = document.querySelector('.commentform-sendsucceeded');
const spinner = document.querySelector('.submit-spinner');
function post(url, data, callback, errorcallback) {
const xhr = new XMLHttpRequest();
xhr.open('POST', url);
xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
xhr.onload = function() {
if (xhr.status === 200) {
callback(xhr.responseText);
} else if (xhr.status !== 200) {
errorcallback(xhr.responseText);
}
};
xhr.send(encodeURI(data));
}
if (commentform) {
commentform.addEventListener('submit', (e) => {
e.preventDefault();
errormessagesdiv.innerHTML = '';
sendfaileddiv.style.display = 'none';
sendsucceededdiv.style.display = 'none';
const slug = sluginput.value.trim();
const optionsslug = optionssluginput.value.trim();
const name = nameinput.value.trim();
const email = emailinput.value.trim();
const message = messageinput.value.trim();
let error = false;
let fatalerror = false;
const messages = [];

{% if site.reCaptcha %}
// Captcha Script
var response = grecaptcha.getResponse();
if(response.length == 0) {
error = true;
messages.push('<div class="commentform-errormessage">Proszę rozwiązać zadanie zabezpieczające.</div>');
}
// End of Captcha Script
{% endif %}

if (name.length < 2) {
error = true;
messages.push('<div class="commentform-errormessage">Proszę wpisać imię.</div>');
}
if (email.search(/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/) === -1) {
error = true;
messages.push('<div class="commentform-errormessage">Proszę wpisać poprawny e-mail.</div>');
}
if (message.length < 2) {
error = true;
messages.push('<div class="commentform-errormessage">Proszę wpisać wiadomość.</div>');
}
if (fatalerror) {
return false;
}
if (error) {
errormessagesdiv.innerHTML = messages.join('');
return false;
}
const params = [];
for (let i = 0; i < commentforminputs.length; i++) {
const input = commentforminputs[i];
params.push(`${ input.name }=${ input.value }`);
}

spinner.innerHTML = "Trwa wysyłanie...";

{% if site.reCaptcha %}
// Captcha reset Script
grecaptcha.reset();
// End of Captcha reset Script
{% endif %}

post(
e.target.getAttribute('data-action'),
params.join('&'),
function(text){
commentform.reset();
sendsucceededdiv.style.display = 'block';
spinner.innerHTML = "Wyślij Komentarz";
},
function(text){
sendfaileddiv.style.display = 'block';
spinner.innerHTML = "Wyślij Komentarz";
}
);
});
}
</script>