<!-- (c) IGOR KOWALCZYK. All rights reserved. -->
<!DOCTYPE html><html lang="pl"><head>
<meta charset="utf-8">
<link rel="stylesheet" href="/blog/css/syntax.css">
<link rel="stylesheet" href="/blog/css/style.css">
<meta name="viewport" content="width=device-width initial-scale=1">
<meta name="description" content="{{site.description}}">
<link rel="shortcut icon" href="https://igorkowalczyk.github.io/lib/favicon/favicon.jpg">
{% feed_meta %}
<title> {% if page.title %}
{{ page.title}} - {{site.title}}
{% else %} {{site.title}}
{% endif %}</title>
</head>
