<noscript><div class="no-js">Aby wyświetlić tą stronę proszę włączyć obsługę Java Script w twojej przeglądarce.</div></noscript><nav class="nav" role="navigation">
<span class="logo"><a href="{{"/" | relative_url}}">{{site.title}}</a></span>
<input class="menu-btn" type="checkbox" id="menu-btn" />
<label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
<ul class="menu">
<li><a href="/blog" aria-label="Zobacz aktualności na blogu">Aktualności</a></li>
<li><a href="/" class="link-fade" aria-label="Zobacz Portfolio">Portfolio</a></li>
<li><a href="https://github.com/igorkowalczyk" target="_blank" rel="noopener">Github</a></li>
</ul>
</nav>