---
layout: "default"
---
<div class="home">
<h2 class="page-heading">Wpisy z kategorii "{{ site.categories_names[ page.category ] | escape }}"</h2>
{{ content }}
{% assign posts = site.categories[page.category] %}
{% unless site.feed.enabled == false %}
<a href="{{ site.url }}/feeds/{{ page.category }}.xml" class="rss-link target="_blank">
<img src="{{ site.url }}/lib/img/rss.svg" class="rss-icon" alt="RSS"/>
Subskrybuj kategorię {{ page.category_name | escape }}
</a>
{% endunless %}
</p>
{% for post in site.categories[page.category] %}
<h3><a href = "{{ site.url }}{{ post.url | remove: ".html" }}">{{ post.title }}</a></h3>
<div class="post-list-item">
<p>{{ post.excerpt | default: '' | strip_html | normalize_whitespace | truncate: 200 | escape }}
<a href="{{ site.url }}{{ post.url | remove: ".html" }}"> Czytaj więcej</a>
</p>
</div>
{% endfor %}
</div>
