---
layout: default
---
<article class="post">
<header class="post-header">
<h2 class="post-title" >{{ page.title | escape }}</h2>
<p class="post-meta">
<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d-%m-%Y" }}</time>
<ul class="cat">Kategorie:&nbsp;
<span>
{% for category in page.categories %}
<a href="/blog/categories/{{ category }}">{{ category }}</a>&nbsp;
{% endfor %}
</span>
</ul>
</p>
</header>
<section class="post-content">
{{ content }}
</section>
<!-- Adds an empty comment section to the page -->
{% responses %}
{% endresponses %}
{% responses %}
  {% response author="Admin" email="john@doe.com" date="2200-01-1 24:00:0" param="value" %}
    To jest komentarz
  {% endresponse %}
  {% response author="Admin" email="john@doe.com" date="2200-01-1 24:00:0" param="value" %}
    Napewno komentarz
  {% endresponse %}
{% endresponses %}
{% responses %}
  {% response author="Admin" email="john@doe.com" date="2200-01-1 24:00:0" param="value" %}
    Komentarz testowy
    {% responses %}
      {% response author="Admin" email="john@doe.com" date="2200-01-1 24:00:0" param="value" %}
        Odpowiedź do komentarza
        {% responses %}
          {% response author="Admin" email="john@doe.com" date="2200-01-1 24:00:0" param="value" %}
            Kolejna odpowiedź
          {% endreponse %}
        {% endresponses %}
      {% endresponse %}
      {% response author="Admin" email="john@doe.com" date="2200-01-1 24:00:0" param="value" %}
        Druga odpowiedź na komentarz
      {% endresponse %}
    {% endresponses %}
  {% endresponse %}
{% endresponses %}
<br>
<hr>
<br>
<p>Komentuj :)</p>
</article>
