---
layout: default
comments: true
---
<article class="post">
<header class="post-header">
<h2 class="post-title" >{{ page.title | escape }}</h2>
<p class="post-meta">
<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%d-%m-%Y" }}</time>
<ul class="cat">Kategorie:&nbsp;
<span>
{% for category in page.categories %}
<a href="/blog/categories/{{ category }}">{{ category }}</a>&nbsp;
{% endfor %}
</span>
</ul>
</p>
</header>
<section class="post-content">
{{ content }}
</section>
<!-- Comments system comming soon (see _config.yml file & _includes folder) -->
{% include comments.html %}
<p> System komentarzy już niedługo</p>
</article>
